.row
	.well.col-md-8.col-md-offset-2.text-center
		%h1= @article.title
		%p= @article.content
		-if user_signed_in?
			%p
				= link_to "Edit", edit_article_path, class:'btn btn-success'
				= link_to "Delete", @article, method: :delete, data: { confirm: "Are you sure?"}, class:'btn btn-danger'

%br/
%br/
%br/

.row.col-md-6.col-md-offset-3.text-center.well
	- if @article.comments.count == 0
		%h3 There are no comments at the moment
	- else
		%h3= pluralize(@article.comments.count, 'comment')
		%h3= render @article.comments.order("created_at DESC")

%br/
%br/
%br/
- if user_signed_in?
	= render 'comments/form'