.row
	.well.col-md-8.col-md-offset-2.text-center
		%h1= @article.title
		%p= @article.content
		%p
			= link_to "Home", root_path, class:'btn btn-primary'
			= link_to "Edit", edit_article_path, class:'btn btn-success'
			= link_to "Delete", @article, method: :delete, data: { confirm: "Are you sure?"}, class:'btn btn-danger'