!!! 5
%html
%head
	%title HameldBlog
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags
%body
	- flash.each do |name,msg|
		= content_tag :div, msg, class: "alert alert-#{name}"

	%nav.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				%button.navbar-toggle
				= link_to "HameldBlog", root_path,class:'navbar-brand'
			.collapse.navbar-collapse#myNavbar
				%ul.nav.navbar-nav
					%li= link_to "New Article", new_article_path
				%ul.nav.navbar-nav.navbar-right
					- if user_signed_in?
						%li
							= link_to edit_user_registration_path do
								%span.glyphicon.glyphicon-user
								Account
						%li
							= link_to destroy_user_session_path, method: :delete do
								%span.glyphicon.glyphicon-user
								Log Out
					- else
						%li
							= link_to new_user_registration_path do
								%span.glyphicon.glyphicon-user
								Sign Up
						%li
							= link_to new_user_session_path do
								%span.glyphicon.glyphicon-log-in
								Sign In
	.container
		= yield